In [1]:
%load_ext sql
%sql sqlite:///TPC-H.db

'Connected: @TPC-H.db'

In [10]:
-- query2
%%sql
SELECT 
	s_acctbal, s_name, n_name, p_partkey, p_mfgr, s_address, s_phone, s_comment
FROM 
	part, supplier, partsupp, nation, region
WHERE 
	p_partkey = ps_partkey 
	AND s_suppkey = ps_suppkey
	AND p_size = 11 -- [SIZE]
	AND p_type like 'MEDIUM BRUSHED COPPER' -- '%[TYPE]'
	AND s_nationkey = n_nationkey
	AND n_regionkey = r_regionkey
	AND r_name = 'ASIA' -- '[REGION]'
	AND ps_supplycost = (
		SELECT 
			min(ps_supplycost) 
		FROM 
			partsupp, supplier, nation, region 
		WHERE
			p_partkey = ps_partkey
			AND s_suppkey = ps_suppkey
			AND s_nationkey = n_nationkey
			AND n_regionkey = r_regionkey
			AND r_name = 'ASIA' -- '[REGION]'
		)
ORDER BY
	s_acctbal DESC,
	n_name,
	s_name,
	p_partkey;

IndentationError: unexpected indent (<ipython-input-10-ca8e2b27e5e6>, line 4)

In [5]:
-- query3
%%sql
select
	l_orderkey,
	sum(l_extendedprice*(1-l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer,
	orders,
	lineitem
where
	c_mktsegment = 'BUILDING' --'[SEGMENT]'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < "1995-03-15" --'[DATE]'
	and l_shipdate > "1995-03-15" --'[DATE]'
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
order by
	revenue desc,
	o_orderdate;

 * sqlite:///TPC-H.db
Done.

[(2456423, 406181.0111, '1995-03-05', 0),
 (3459808, 405838.69889999996, '1995-03-04', 0),
 (492164, 390324.061, '1995-02-19', 0),
 (1188320, 384537.9359, '1995-03-09', 0),
 (2435712, 378673.05580000003, '1995-02-26', 0),
 (4878020, 378376.7952, '1995-03-12', 0),
 (5521732, 375153.9215, '1995-03-13', 0),
 (2628192, 373133.30939999997, '1995-02-22', 0),
 (993600, 371407.4595, '1995-03-05', 0),
 (2300070, 367371.1452000001, '1995-03-13', 0),
 (1166660, 365967.44239999994, '1995-02-27', 0),
 (1083941, 365184.4922, '1995-02-21', 0),
 (405063, 359706.5697, '1995-03-03', 0),
 (4212103, 356025.21630000003, '1995-02-14', 0),
 (4232067, 355384.5423, '1995-02-21', 0),
 (817603, 354799.8886, '1995-03-11', 0),
 (408035, 351700.17710000003, '1995-03-08', 0),
 (4463334, 350549.0789, '1995-03-14', 0),
 (1546404, 350411.0898, '1995-03-11', 0),
 (345664, 347632.92829999997, '1995-03-08', 0),
 (2864672, 345570.4476, '1995-03-13', 0),
 (5680037, 345361.29099999997, '1995-03-14', 0),
 (775873, 345317.9001, '1995-03-13', 0),
 (4451046, 345194.6947, '1995-02-20', 0),
 (5455494, 343607.2204, '1995-02-21', 0),
 (4391237, 343202.38039999997, '1995-03-05', 0),
 (1660512, 342900.9212, '1995-01-16', 0),
 (369862, 341547.7824, '1995-03-14', 0),
 (2060449, 340743.1087999999, '1995-03-08', 0),
 (5160228, 338557.5035, '1995-03-13', 0),
 (1549319, 337587.1629, '1995-03-07', 0),
 (1124067, 337439.2056, '1995-03-12', 0),
 (754912, 337349.8889, '1995-02-14', 0),
 (4289698, 336980.431, '1995-01-23', 0),
 (3328709, 336896.6323, '1995-03-09', 0),
 (2517952, 336320.9057, '1995-02-20', 0),
 (4129095, 335723.1209, '1995-02-17', 0),
 (5844161, 334427.7461, '1995-03-05', 0),
 (4487361, 332789.12700000004, '1995-02-22', 0),
 (1815554, 332654.9231, '1995-03-12', 0),
 (3681568, 332599.8601, '1995-02-27', 0),
 (217572, 332211.6141, '1995-03-05', 0),
 (1827495, 331854.9272, '1995-03-04', 0),
 (1175943, 331847.72630000004, '1995-03-13', 0),
 (2020610, 330992.17069999996, '1995-02-05', 0),
 (2994211, 330726.8306, '1995-03-05', 0),
 (2948355, 329877.7886, '1995-01-21', 0),
 (181793, 329629.9252, '1995-02-14', 0),
 (1586850, 329213.9977, '1995-03-10', 0),
 (4346215, 329005.1182, '1995-02-21', 0),
 (4641217, 329001.1749, '1995-02-15', 0),
 (821158, 328507.3101, '1995-01-09', 0),
 (303360, 328213.1622, '1995-03-14', 0),
 (4065637, 326715.9806, '1995-01-19', 0),
 (4393826, 326524.755, '1995-03-06', 0),
 (1969217, 326459.3566, '1995-03-13', 0),
 (3154627, 325810.2556, '1995-01-24', 0),
 (4225253, 325488.0979, '1995-02-28', 0),
 (891490, 324468.6198, '1995-03-08', 0),
 (1635941, 323680.82279999997, '1995-02-22', 0),
 (5363396, 323373.479, '1995-03-12', 0),
 (2880898, 322087.1541, '1995-02-23', 0),
 (462502, 321750.28709999996, '1995-03-08', 0),
 (1232902, 321384.61779999995, '1995-03-01', 0),
 (2192676, 320963.56799999997, '1995-03-07', 0),
 (4878882, 320894.249, '1995-03-01', 0),
 (4617957, 320542.04600000003, '1995-01-28', 0),
 (3841217, 320473.4349, '1995-03-05', 0),
 (2955847, 319815.28539999994, '1995-02-07', 0),
 (1220678, 319670.37840000005, '1995-02-09', 0),
 (5949254, 317913.46390000003, '1995-03-11', 0),
 (1881824, 317585.07489999995, '1995-01-27', 0),
 (5901729, 317343.4301, '1995-03-03', 0),
 (1708417, 317181.99319999997, '1995-03-05', 0),
 (3923874, 317133.30529999995, '1995-03-10', 0),
 (1274374, 316332.9714999999, '1995-02-24', 0),
 (4456832, 316170.0391, '1995-02-23', 0),
 (632292, 315180.17749999993, '1995-02-26', 0),
 (3946406, 314724.41730000003, '1995-02-06', 0),
 (964002, 314131.9359, '1995-02-27', 0),
 (5089889, 313272.9441, '1995-02-14', 0),
 (1092293, 313210.6723, '1995-03-05', 0),
 (2818756, 312939.3886, '1995-03-06', 0),
 (4115877, 312893.4749, '1995-02-13', 0),
 (311266, 312371.6537999999, '1995-02-17', 0),
 (2288865, 311949.40750000003, '1995-02-18', 0),
 (2988803, 311847.9421, '1995-03-11', 0),
 (4090502, 311808.0815, '1995-02-02', 0),
 (3287808, 310998.29669999995, '1995-02-17', 0),
 (5188579, 310709.6849, '1995-02-06', 0),
 (1260007, 310574.454, '1995-03-12', 0),
 (2979175, 309437.9609, '1995-02-27', 0),
 (804932, 309359.6554, '1995-03-05', 0),
 (4175075, 309272.5109, '1995-02-09', 0),
 (580033, 308706.3199, '1995-03-02', 0),
 (1834755, 308449.5762, '1995-03-09', 0),
 (5346629, 308421.5634, '1995-02-19', 0),
 (4373991, 308007.35049999994, '1995-03-01', 0),
 (1288001, 307823.9514, '1995-02-27', 0),
 (3393030, 307407.9861, '1995-02-18', 0),
 (2509287, 306927.0793, '1995-03-07', 0),
 (169668, 305965.7827, '1995-01-12', 0),
 (130787, 305761.8014, '1995-02-03', 0),
 (1160455, 304779.52749999997, '1995-03-04', 0),
 (2175907, 304254.965, '1995-03-14', 0),
 (3194598, 304232.9069, '1995-03-05', 0),
 (1616518, 303848.6412, '1995-02-25', 0),
 (360804, 303816.94409999996, '1995-02-23', 0),
 (1384993, 303763.0696, '1995-02-14', 0),
 (2419904, 303741.7828, '1995-03-01', 0),
 (3721319, 303709.6736, '1995-02-10', 0),
 (5353574, 303479.9833, '1995-03-14', 0),
 (167618, 302207.9222, '1995-03-13', 0),
 (5620545, 301917.7108, '1995-03-07', 0),
 (4961984, 301849.83589999995, '1995-03-08', 0),
 (5664482, 301842.011, '1995-03-14', 0),
 (1357093, 301354.7926, '1995-03-08', 0),
 (3079552, 301324.32060000004, '1995-02-13', 0),
 (159809, 301135.4984, '1995-02-08', 0),
 (2889126, 299665.223, '1995-03-06', 0),
 (3461635, 299432.7528, '1995-02-18', 0),
 (1908865, 298970.5358, '1995-03-06', 0),
 (1565188, 298505.80240000004, '1995-03-09', 0),
 (4955012, 298189.5699, '1995-03-04', 0),
 (2142407, 298121.4031, '1995-02-03', 0),
 (1730400, 297692.7001, '1995-02-13', 0),
 (1998626, 297557.5944, '1995-03-08', 0),
 (3761543, 297282.4145, '1995-03-12', 0),
 (1190215, 296768.8097, '1995-02-26', 0),
 (5173316, 296349.7907, '1995-03-02', 0),
 (4163941, 295975.1248, '1995-01-14', 0),
 (255361, 295962.00389999995, '1995-02-22', 0),
 (669248, 295813.2297, '1995-03-11', 0),
 (5151010, 295559.479, '1995-01-22', 0),
 (762690, 295530.7388, '1995-02-13', 0),
 (3052608, 295329.34750000003, '1995-03-13', 0),
 (4280001, 295193.27599999995, '1995-03-06', 0),
 (5144481, 295185.1206, '1995-03-03', 0),
 (749472, 295047.73199999996, '1995-02-21', 0),
 (4003234, 294800.4494, '1995-03-03', 0),
 (738822, 294539.3798, '1995-02-04', 0),
 (353922, 294533.83150000003, '1995-03-02', 0),
 (3469990, 294484.34760000004, '1995-03-12', 0),
 (4164994, 294164.3956, '1995-03-01', 0),
 (4187264, 293884.13399999996, '1995-01-27', 0),
 (2743844, 293431.59150000004, '1995-03-04', 0),
 (2282054, 292793.0269, '1995-02-17', 0),
 (3866279, 292304.9562, '1995-02-15', 0),
 (4460578, 292275.3337, '1995-03-14', 0),
 (3887173, 292150.0343, '1995-03-08', 0),
 (771396, 291656.6906, '1995-01-30', 0),
 (1478115, 291611.7639, '1995-02-05', 0),
 (654400, 291494.3238, '1995-02-28', 0),
 (783522, 291359.4006, '1995-02-28', 0),
 (4093925, 291134.9709, '1995-03-10', 0),
 (132774, 291101.5012, '1995-02-27', 0),
 (5742880, 290300.2207, '1995-03-11', 0),
 (834758, 290157.98720000003, '1995-02-15', 0),
 (3686211, 289846.0523, '1995-03-02', 0),
 (1019200, 289795.719, '1995-03-12', 0),
 (980484, 289655.2016, '1995-01-16', 0),
 (429506, 289544.8172, '1995-02-02', 0),
 (5206948, 288720.40219999995, '1995-03-14', 0),
 (5423746, 288680.6503, '1995-03-09', 0),
 (4577507, 288512.61269999994, '1995-03-03', 0),
 (4929858, 287901.2938, '1995-03-02', 0),
 (1223490, 287800.8228, '1995-03-13', 0),
 (1566307, 287773.97770000005, '1995-03-07', 0),
 (5105793, 287589.6821, '1995-03-05', 0),
 (5775234, 287435.1773, '1995-03-07', 0),
 (3731557, 286645.7289, '1995-02-28', 0),
 (3329894, 286565.9808, '1995-03-13', 0),
 (1405573, 286527.05939999997, '1995-02-09', 0),
 (2505123, 286450.5901, '1995-01-20', 0),
 (3146982, 286368.2301, '1995-03-02', 0),
 (1422343, 286227.6715, '1995-02-03', 0),
 (5782213, 286179.3307, '1995-02-24', 0),
 (1173478, 286107.2256, '1995-02-21', 0),
 (2074628, 285940.1312, '1995-03-07', 0),
 (4273255, 285933.7691, '1995-03-09', 0),
 (3555392, 285860.8075, '1995-03-08', 0),
 (992583, 285724.2142, '1995-02-09', 0),
 (1899748, 284810.29500000004, '1995-02-26', 0),
 (4898983, 284622.8368, '1995-01-30', 0),
 (3862048, 284487.4132, '1995-02-28', 0),
 (738627, 284276.53260000004, '1995-03-14', 0),
 (4860007, 284253.2668, '1995-03-13', 0),
 (250530, 283997.5896, '1995-03-10', 0),
 (2546112, 283920.3979999999, '1995-03-14', 0),
 (3298275, 283432.2269, '1995-01-19', 0),
 (1510918, 282989.7372, '1995-03-10', 0),
 (3732263, 282703.9621, '1995-03-03', 0),
 (1966019, 282490.80819999997, '1995-02-27', 0),
 (1919970, 282367.0435, '1995-03-01', 0),
 (4640611, 282335.5518, '1995-03-14', 0),
 (287552, 282272.8169, '1995-02-28', 0),
 (4515846, 282216.9303, '1995-02-18', 0),
 (2758273, 282180.8075, '1995-02-26', 0),
 (265796, 282148.4351, '1995-02-24', 0),
 (4110148, 281808.7774, '1995-03-02', 0),
 (2599461, 281471.0488, '1995-01-31', 0),
 (1295138, 281469.3775, '1995-03-07', 0),
 (3283687, 281049.9514, '1995-02-19', 0),
 (1668388, 280820.828, '1995-01-09', 0),
 (4957286, 280813.10959999997, '1995-03-10', 0),
 (2254055, 280648.9618, '1995-02-01', 0),
 (2873955, 280471.46739999996, '1995-02-18', 0),
 (4816839, 280439.5289, '1995-01-29', 0),
 (4044166, 280261.6479, '1995-02-08', 0),
 (1500640, 280220.8664, '1995-03-13', 0),
 (5587686, 279768.618, '1995-03-07', 0),
 (2666118, 279757.5323, '1995-03-12', 0),
 (3736864, 279724.98559999996, '1995-02-21', 0),
 (3421764, 279555.5478, '1995-01-14', 0),
 (1187457, 279287.3862, '1995-03-11', 0),
 (5910081, 279185.24620000005, '1995-02-26', 0),
 (5644551, 279105.09640000004, '1995-02-25', 0),
 (2542215, 278628.26279999997, '1995-02-26', 0),
 (50145, 278324.8728, '1995-02-27', 0),
 (1268930, 278276.7491, '1995-03-08', 0),
 (761059, 278207.96020000003, '1995-03-14', 0),
 (5481442, 278128.0398, '1995-03-12', 0),
 (5658148, 277926.94299999997, '1995-02-27', 0),
 (2023911, 277690.9912, '1995-03-11', 0),
 (539623, 277297.99820000003, '1995-02-20', 0),
 (2548260, 277164.0527, '1995-02-15', 0),
 (3766402, 277106.74419999996, '1995-03-10', 0),
 (5386596, 276910.0506, '1995-03-06', 0),
 (5252897, 276826.9731, '1995-02-24', 0),
 (2644067, 276640.676, '1995-03-04', 0),
 (4042950, 276388.54339999997, '1995-03-03', 0),
 (1244295, 276055.87069999997, '1995-02-03', 0),
 (3205667, 275621.04439999996, '1995-02-22', 0),
 (1927808, 275552.6598, '1995-02-24', 0),
 (94432, 275486.588, '1995-01-19', 0),
 (3549474, 275414.0738, '1994-12-24', 0),
 (1218788, 275387.925, '1995-03-08', 0),
 (2051136, 275116.0107, '1995-03-08', 0),
 (1871008, 275079.2374, '1995-01-22', 0),
 (1157382, 274637.90619999997, '1995-03-02', 0),
 (3587623, 274225.1274, '1995-02-20', 0),
 (1609059, 274212.4348, '1995-02-21', 0),
 (553731, 274195.76739999995, '1995-02-15', 0),
 (2709571, 273687.3832, '1994-12-10', 0),
 (1786272, 273640.1921, '1995-02-08', 0),
 (4142853, 273617.7215, '1995-02-16', 0),
 (3612322, 273575.2693, '1994-12-27', 0),
 (4421860, 273565.758, '1995-02-27', 0),
 (2974694, 273386.3464, '1995-03-14', 0),
 (47525, 273370.8953, '1995-03-04', 0),
 (2677248, 273330.8767, '1995-03-13', 0),
 (1074752, 273277.6458, '1995-02-02', 0),
 (1162147, 272872.2968, '1995-03-03', 0),
 (4258912, 272603.0196, '1995-02-23', 0),
 (4841733, 272455.85240000003, '1995-01-29', 0),
 (5807460, 272259.21200000006, '1994-12-22', 0),
 (213314, 272195.9848, '1995-02-05', 0),
 (4200932, 272125.3024, '1995-03-03', 0),
 (3343776, 272105.9586, '1995-03-14', 0),
 (597699, 271975.5294, '1995-02-01', 0),
 (1334496, 271914.2252, '1995-02-24', 0),
 (5419715, 271744.1996, '1995-03-07', 0),
 (5738343, 270598.78760000004, '1995-01-19', 0),
 (5881890, 270532.7378, '1995-02-15', 0),
 (97830, 270217.0762, '1995-03-04', 0),
 (431106, 270154.69460000005, '1995-02-23', 0),
 (2643618, 270131.8487, '1995-03-10', 0),
 (108421, 270064.0758, '1995-01-30', 0),
 (3702215, 269719.2196, '1995-01-25', 0),
 (5780518, 269500.862, '1995-01-03', 0),
 (1073859, 269484.1761, '1995-03-09', 0),
 (4711269, 269326.7776, '1995-03-11', 0),
 (46115, 269115.89509999997, '1995-03-03', 0),
 (1883879, 268978.07409999997, '1994-12-30', 0),
 (5122532, 268923.62559999997, '1995-02-24', 0),
 (2135110, 268888.03449999995, '1995-03-07', 0),
 (3127076, 268869.8857, '1995-03-13', 0),
 (755745, 268863.7328, '1995-02-22', 0),
 (1637, 268170.6408, '1995-02-08', 0),
 (5290240, 267961.8466, '1995-02-22', 0),
 (3411973, 267770.31320000003, '1995-03-13', 0),
 (1408578, 267751.6084, '1995-02-07', 0),
 (2404449, 267687.7341, '1995-03-10', 0),
 (988226, 267681.0166, '1995-02-01', 0),
 (2958049, 267579.7318, '1995-02-20', 0),
 (3054020, 267530.5812, '1995-01-13', 0),
 (2142787, 267473.68080000003, '1995-02-26', 0),
 (662340, 267322.8948, '1995-02-26', 0),
 (1174050, 267275.46199999994, '1995-01-31', 0),
 (800033, 267217.3479, '1995-01-31', 0),
 (4575140, 266925.6314, '1994-12-26', 0),
 (98279, 266789.34609999997, '1995-03-09', 0),
 (4208644, 266743.4112, '1995-02-05', 0),
 (2136006, 266576.9473, '1995-02-14', 0),
 (2507781, 266403.3942, '1995-02-11', 0),
 (2393793, 266188.26440000004, '1995-03-09', 0),
 (2806278, 266051.0237, '1995-02-26', 0),
 (1635653, 265897.43319999997, '1995-02-14', 0),
 (5084260, 265895.4916, '1995-01-29', 0),
 (5717728, 265746.5533, '1995-03-08', 0),
 (5556450, 265432.29860000004, '1995-02-27', 0),
 (2284672, 265320.6928, '1995-03-14', 0),
 (3640386, 265189.42429999996, '1995-02-05', 0),
 (1162563, 265107.13879999996, '1995-02-15', 0),
 (165732, 264712.23480000003, '1995-03-11', 0),
 (4651745, 264661.7292, '1995-03-08', 0),
 (5682950, 264633.1213, '1995-03-05', 0),
 (4858147, 264620.8368, '1995-03-13', 0),
 (4766118, 264360.9612, '1995-02-10', 0),
 (220834, 264297.6811, '1995-02-27', 0),
 (5785893, 263708.48709999997, '1995-03-13', 0),
 (1929699, 263499.60329999996, '1995-03-09', 0),
 (2017793, 263232.20199999993, '1995-02-01', 0),
 (2376358, 263219.3754, '1995-02-18', 0),
 (1402247, 263153.99820000003, '1995-03-03', 0),
 (118151, 263036.9984, '1995-02-23', 0),
 (5935588, 263023.76519999997, '1995-01-30', 0),
 (3282660, 262892.0086, '1995-02-28', 0),
 (4956800, 262865.7162, '1995-02-10', 0),
 (3940163, 262849.5048, '1995-02-26', 0),
 (3978503, 262757.7448, '1995-02-09', 0),
 (5882310, 262686.3812, '1995-03-14', 0),
 (1474848, 262524.57480000006, '1995-03-12', 0),
 (2440324, 262358.68259999994, '1995-03-02', 0),
 (4231170, 262172.83869999996, '1995-02-22', 0),
 (3889248, 262056.92379999996, '1995-02-28', 0),
 (80549, 261961.4762, '1995-01-23', 0),
 (874947, 261861.63519999996, '1995-02-11', 0),
 (800578, 261674.4246, '1995-02-27', 0),
 (5783809, 261649.0987, '1995-02-01', 0),
 (3823045, 261624.0573, '1995-03-05', 0),
 (283364, 261547.5207, '1995-02-23', 0),
 (1612929, 261463.85749999998, '1995-01-22', 0),
 (299014, 261195.4376, '1995-03-04', 0),
 (93671, 261152.2102, '1995-03-03', 0),
 (3379364, 261138.29450000002, '1995-01-20', 0),
 (5216199, 261062.7576, '1995-02-24', 0),
 (2978438, 261060.50589999996, '1995-03-10', 0),
 (1865089, 261042.2898, '1995-02-27', 0),
 (3528001, 261027.0798, '1995-02-24', 0),
 (1197607, 261019.00089999998, '1995-03-04', 0),
 (2917795, 260768.5109, '1995-02-28', 0),
 (775847, 260746.0478, '1995-01-25', 0),
 (4420802, 260648.9333, '1995-02-05', 0),
 (1878628, 260272.3213, '1995-03-05', 0),
 (1741028, 260194.62999999998, '1995-03-14', 0),
 (2097025, 260092.75430000003, '1995-02-28', 0),
 (3425510, 259928.19129999998, '1995-03-10', 0),
 (3676707, 259872.96409999998, '1995-02-05', 0),
 (4541217, 259375.01479999995, '1995-02-16', 0),
 (4684353, 258994.58750000002, '1995-02-27', 0),
 (166757, 258693.81799999997, '1995-02-28', 0),
 (4925223, 258321.359, '1995-02-22', 0),
 (1752642, 258287.16720000003, '1995-02-20', 0),
 (1214981, 258229.9143, '1994-12-31', 0),
 (859237, 258145.3451, '1995-02-13', 0),
 (2688102, 258102.18519999998, '1995-02-08', 0),
 (5316610, 258069.2079, '1995-03-12', 0),
 (4176454, 257955.39119999998, '1995-03-13', 0),
 (5667684, 257952.62680000003, '1995-01-31', 0),
 (5156999, 257694.7586, '1995-03-01', 0),
 (1777986, 257648.89160000003, '1995-02-23', 0),
 (5314147, 257558.2622, '1995-02-25', 0),
 (4703399, 257339.94669999997, '1995-02-15', 0),
 (187427, 257236.52300000002, '1995-03-05', 0),
 (5659045, 257129.34459999998, '1995-03-11', 0),
 (1919462, 256982.29109999997, '1995-02-19', 0),
 (1314567, 256858.2795, '1995-02-09', 0),
 (587808, 256816.7252, '1995-02-10', 0),
 (647234, 256606.30569999997, '1995-02-05', 0),
 (1070694, 256582.02850000001, '1995-03-09', 0),
 (1728355, 256540.2365, '1995-01-20', 0),
 (922179, 256535.84129999997, '1995-03-08', 0),
 (3202176, 256159.254, '1995-03-13', 0),
 (2918466, 256154.9399, '1995-01-31', 0),
 (442627, 255896.4629, '1995-03-06', 0),
 (3292263, 255713.7529, '1995-02-25', 0),
 (2578467, 255507.93539999996, '1995-03-13', 0),
 (4905699, 255469.3326, '1995-02-26', 0),
 (2258208, 255412.0494, '1995-01-28', 0),
 (295360, 255278.25299999997, '1995-02-25', 0),
 (4115200, 255254.82630000002, '1995-02-28', 0),
 (5654468, 255052.8663, '1995-03-08', 0),
 (1601410, 254977.28770000002, '1995-02-26', 0),
 (1189703, 254727.3814, '1995-03-09', 0),
 (2184677, 254452.37, '1995-03-06', 0),
 (5594181, 254402.2756, '1995-02-16', 0),
 (2083271, 254264.96499999997, '1995-02-26', 0),
 (4990337, 254093.7234, '1995-01-23', 0),
 (1111526, 254057.4048, '1995-01-31', 0),
 (5941124, 254030.1304, '1995-03-12', 0),
 (3024609, 253963.53119999997, '1995-03-10', 0),
 (3775684, 253944.26519999997, '1995-02-11', 0),
 (4369505, 253869.70539999998, '1995-02-14', 0),
 (1444418, 253758.96250000002, '1995-02-10', 0),
 (5874595, 253719.31260000003, '1995-03-07', 0),
 (1039200, 253668.08909999998, '1995-03-08', 0),
 (3708739, 253398.16640000002, '1995-02-24', 0),
 (94113, 253351.8948, '1995-03-11', 0),
 (155078, 253319.60239999997, '1995-02-07', 0),
 (3585766, 253220.28650000002, '1995-01-25', 0),
 (3422240, 252805.00089999998, '1995-02-28', 0),
 (1288418, 252647.8181, '1995-02-11', 0),
 (3561092, 252592.02409999998, '1995-01-05', 0),
 (2010021, 252521.38079999998, '1995-02-17', 0),
 (4707363, 252477.37200000003, '1995-01-19', 0),
 (5683846, 252358.34199999995, '1995-02-14', 0),
 (1665924, 252330.20609999998, '1995-03-09', 0),
 (325444, 252320.29080000002, '1995-02-24', 0),
 (2357312, 252192.1241, '1995-03-09', 0),
 (9696, 252014.5497, '1995-02-20', 0),
 (987175, 251821.03110000002, '1995-02-14', 0),
 (842820, 251673.59100000001, '1995-01-21', 0),
 (5812608, 251652.71050000004, '1995-02-20', 0),
 (1077281, 251600.0245, '1995-02-20', 0),
 (4444610, 251581.13299999997, '1995-02-01', 0),
 (3471298, 251346.02990000002, '1995-02-10', 0),
 (2775716, 251322.6544, '1995-01-30', 0),
 (3917859, 250959.0498, '1995-03-07', 0),
 (1294563, 250957.3846, '1995-02-06', 0),
 (1447879, 250755.7153, '1995-01-30', 0),
 (2613473, 250748.95739999998, '1995-02-17', 0),
 (5101958, 250476.3697, '1995-02-20', 0),
 (5302979, 250393.69439999998, '1995-01-23', 0),
 (2604101, 250314.5096, '1995-02-06', 0),
 (1602758, 250300.5001, '1995-02-10', 0),
 (3370759, 250269.07899999997, '1995-02-26', 0),
 (3187106, 250238.8864, '1995-03-11', 0),
 (1546020, 250168.86839999998, '1995-02-20', 0),
 (5781634, 250016.3036, '1995-01-14', 0),
 (4127300, 249970.0402, '1995-01-31', 0),
 (4893383, 249637.90269999998, '1995-02-06', 0),
 (2026912, 249465.49000000002, '1995-01-03', 0),
 (3956899, 249461.53220000002, '1995-02-18', 0),
 (2409381, 249271.68469999998, '1995-01-18', 0),
 (5812005, 249232.271, '1995-01-22', 0),
 (1386055, 249231.78189999997, '1995-02-23', 0),
 (3214051, 249135.09949999998, '1995-02-22', 0),
 (4392739, 249078.3331, '1995-02-17', 0),
 (2524006, 249028.62860000003, '1995-02-20', 0),
 (2049219, 248553.96399999998, '1995-02-08', 0),
 (3690496, 248516.7214, '1995-01-28', 0),
 (680549, 248415.63029999996, '1994-12-25', 0),
 (4420645, 248397.28160000002, '1995-02-25', 0),
 (645606, 248389.1568, '1995-02-18', 0),
 (4663104, 248227.23080000002, '1995-01-07', 0),
 (4860327, 247840.06459999998, '1995-02-22', 0),
 (1169669, 247806.1627, '1995-01-29', 0),
 (5130945, 247794.4262, '1995-01-21', 0),
 (3944455, 247602.3046, '1995-02-10', 0),
 (4487652, 247516.7076, '1995-02-22', 0),
 (1202374, 247200.29009999995, '1995-01-29', 0),

In [ ]:
-- query4
%%sql
.timer on
select
	o_orderpriority,
	count(*) as order_count
from
	orders
where
	o_orderdate >= "1993-07-01" --'[DATE]'
	and o_orderdate < "1993-10-01" --'[DATE]'
	and exists (
		select
			*
		from
			lineitem
		where
			l_orderkey = o_orderkey
			and l_commitdate < l_receiptdate
			)
group by
	o_orderpriority
order by
	o_orderpriority;

In [9]:
-- query2_opt
%%sql
select 
	lin.orderkey,
	sum(lin.extendedprice * (1-lin.discount)) as revenue,
	ordr.orderdate,
	ordr.shippriority
from
	(select *
	from customer
	where c_mktsegment = 'BUILDING') as cus,
	(select *
	from orders
	where o_orderdate < "1995-03-15") as ordr,
	(select *
	from l_shipdate > "1995-03-15") as lin
where
	cus.custkey = ordr.custkey and
	ordr.orderkey = lin.orderkey
group by 
	lin.orderkey,
	ordr.orderdate,
	ordr.shippriority
order by
	revenue decs,
	ordr.orderdate;

IndentationError: unexpected indent (<ipython-input-9-37803d77ee0f>, line 4)

In [ ]:
%%sql
select
	l_orderkey,
	sum(l_extendedprice*(1-l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer INDEXED BY c_key,
	orders INDEXED BY o_key2,
	lineitem INDEXED BY l_key
where
	c_mktsegment = 'BUILDING' --'[SEGMENT]'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < "1995-03-15" --'[DATE]'
	and l_shipdate > "1995-03-15" --'[DATE]'
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
order by
	revenue desc,
	o_orderdate;